{% if invite %}
<br />
<p class="invited">{{ invite.firstLine }}<br />
{{ invite.secondLine }}</p>

<div class="controls">
  <a class="next-button rsvp-button" class="control-button" onClick="$('.slick-slider').slickGoTo(1);setActive(1);activateLink(0);activateLink(1);">Next</a>
</div>
<small class="pull-right" style="clear:both"><a href="/rsvp">This isn't me, try again</a></small>

<script>
  $('.guests-{{ invite.count }}').hide();
  // console.log(" {{ invite.guests[0] }} ");

  var guests = $('.guest-name');

  {% for guest in invite.guests %}
    guests.eq({{ loop.index - 1 }}).val("{{ guest }}");
  {% endfor %}


  $('#menu-done').click(function(){
    if ($('input[value="Attends with Pleasure"]:checked').size() < 1) {
      console.log($('input[value="Attends with Pleasure"]:checked').size());
      $('#declines').hide();
    } else {
      $('#declines').show();
    }
    $('.slick-slider').slickGoTo(2);
    setActive(2);activateLink(2);
    $('#entry_955958692').val("{{email}}");
  });

</script>

{% else %}

<p>Sorry, we couldn't find an invitation for <em>{{email}}</em>. For help, please email <a href="mailto:amayesingday@gmail.com">amayesingday@gmail.com</a></p>

<small><a href="/rsvp">Try searching again</a></small>

{% endif %}